{% extends 'static/templates/base.html' %}


<!doctype html>
<html lang="en">
<head>
	<title>
		{% block title %}
		PensiveDND :: Arvon Table Rules
		{% endblock %}
	</title>
</head>

<body>
{% block pagecontent %}
	<section>

		<p>These rules apply only to games run by Arvon</p>

		<article>
		<p>1. All guild rules and community rules are table rules.</p>
		</article>

		<article>
		<p>2. Game time is 7-10 PM Central, Wednesday Nights.
		</article>

		<article>
		<p>3. The style of play offered at my table is epic and heroic. The
		characters who undertake the missions of the campaign do so out of a sense
		of justice, honor, goodness, and the like. Thus, were an evil character to join
		the party, they would likely be detected quickly, and either shunned from
		the party, referred to the local city watch, or dealt with more harshly.</p>

		<p>To put it more bluntly, evil characters are banned from my table.</p>
		</article>

		<article>
		<p>4. I will roll for your stats using a specific set of statistical rules
		that I created a few years ago. Don't worry, it makes for stronger
		characters (which will, I promise, be offset by stronger monsters ... so
		maybe there is reason to worry after all?).
		</article>

		<article>
		<p>5. We will be starting at level 1. To help set the epic tone desired for
		the campaign, I am allowing you to pick between a level 1 feat (or an
		additional feat; I'm looking at you, Human Variants) or a magic item of
		Uncommon quality or lower (or a magic weapon of +1). You will need to access
		the campaign to browse the options.</p>
		</article>

		<article>
		<p>6. I will be using hero points, instead of inspiration, to reward you for
		good roleplay and other activities that I want you to do, like weekly recap,
		which I'll discuss below. There is no limit to the number of hero points that
		you can have at a time. Hero points are a currency that can be spent in two
		ways.</p>

		<p>The first way is to alter d20 rolls.</p>
		<ul>
			<li>Spend 1 hero point, and you may add the results of a 1d6 roll to any
			d20 roll that you made (N.B.: This includes saves from attacks, eg. from a
			fireball spell, because you roll the dex save, not the enemy).</li>
			<li>Spend 2 hero points, and you may subtract the results of 1d6 from any d20
			roll that any enemy made against you. Or, you may subtract the results of
			of the 1d6 roll from an enemy's saving throw against an attack that you
			made against it.</li>
			<li>Spend 3 hero points, and you may re-roll any d20 roll that you made.
			However, you have to keep the new results, even if they are lower than the
			original results.</li>
		</ul>

		<p>The second way is to purchase swanky RP prizes at the end of a chapter.
		You'll find that these prizes will result in precious little, if any,
		mechanical benefit. However, they just might be the sort of customization
		option that you were looking for to set your character apart from the masses
		walking the street. A vendor will appear at the appropriate time.</p>

		<p>With hero points, though, you've gotta use 'em, or lose 'em, 'cuz they
		wither and die on the vine at the end of each chapter.</p>
		</article>

		<article>
		<p>7. We will be using the capstone leveling system, rather than XP, because
		I want to reward you for advancing the story, not for the number of mobs that
		you kill.</p>
		</article>

		<article>
		<p>8. We are recruiting for a party of 6. A quorum of 4 is required for a
		session to continue for a given night.</p>
		</article>

		<article>
		<p>9. The plan for now is to run two pre-written campaigns, "Waterdeep:
		Dragonheist", and "The Curse of Strahd". With Dragonheist, we will be running
		the Summer Season with the Cassalanters. Themes that we will be encountering
		include demons and demonic pacts, vampires, and the undead. While I would
		rather you experience the story for the first time in the game, I have given
		you enough information that you may search online for more-detailed synopses
		if you have concerns. </p>

		<p>If you look around hard enough on Strahd, you will find references to a
		sanity vs insanity system. This system is inappropriate for our group play,
		and will be removed when we play this campaign at my table.</p>
		</article>

		<article>
		<p>10. All characters require a backstory filed with the DM. This helps me
		connect my world to better fit your character by incorporating tie-ins. I
		personally find backstories helpful as a player because they help me to get
		into the headspace of my character, too.</p>
		</article>






	</section>
{% endblock %}

</body>
</html>
