{% extends 'static/templates/base.html' %}


<!doctype html>
<html lang="en">
<head>
	<title>
		{% block title %}
		PensiveDND :: Becoming A DM
		{% endblock %}
	</title>
</head>

<body>
{% block pagecontent %}

	<section>

		<h1>Becoming a DM</h1>

		<p>So that this does not become a long essay, this will be turned into
			an FAQ.</p>


		<article>
		<h2>What's it like being a DM?</h2>

		<p>Being a DM is like starting a new hobby. There is a time commitment.
		Skill is required, and it takes practice to develop that skill. It won't
		always be pleasant or rewarding, nor will it be so instantly. But it can
		be in the long term.</p>
		</article>

		<article>
		<h2>Is there a way to try out being a DM without making a long-term commitment,
		either in terms of time or money?
		</h2>

		<p>Yes. Talk to Arvon or another DM about their willingness to schedule a
		"one-shot" adventure, essentially by "borrowing" a session from them.</p>

		<p>This will require some flexibility on your part, on the part of the
		hosting DM, and on the part of the participating players. Be prepared to
		be gracious.</p>
		</article>

		<article>
		<h2>What is being provided for free by this site?</h2>

		<p>Hosting services only, as well as server configuration and maintenance.</p>
		</article>

		<article>
		<h2>What is not being provided for free?</h2>

		<p>This website will follow all copyright, intellectual property, and other
		applicable laws. Users found to be in violation of this rule shall be
		subject to banning from the site. Arvon is not a lawyer, and cannot afford
		to hire a lawyer to defend himself for your misadventures on the internet.</p>

		<p>To be more blunt, it is the DM's obligation to independently obtain legal
		license and/or copies of the following:</p>

			<ul>
				<li><a href="https://foundryvtt.com/">Foundry</a>: the game server</li>
				<li<ui>Game systems, such as:
					<li><a href="https://www.dndbeyond.com/">D&D</a></li>
					<li><a href="https://paizo.com/pathfinder">Pathfinder</a></li>
					<li><a href="https://www.fantasyflightgames.com/en/starwarsrpg/">Star Wars FFG</a></li>
					<li>Or any <a href="https://foundryvtt.com/packages/systems">other system</a> that Foundry supports. You'll find that there are quite a many.</li>
				</ui></li>
			</ul>
		</article>

		<article>
		<h2>What is the best way to buy D&D books for DMing online?</h2>

		<p>Buy digital books at <a href="https://www.dndbeyond.com/">dndbeyond.com</a>.</p>
		</article>

		<article>
		<h2>I own printed books, not digital. Or digital books in another VTT,
		such as FantasyGrounds or Roll20. Can I still DM on your site?</h2>

		<p>Yes. Talk to Arvon for this special scenario.</p>
		</article>

		<article>
		<h2>What is the bare minimum that I need to buy to get started DMing?</h2>

		<p>For D&D Fifth Edition: The Player's Handbook, and the Dungeon Master's
		Guide. You will of course still need a Foundry license.</p>

		<p>If you are a true newbie, I would strongly recommend starting by running
		a one-shot, which is a campaign meant to be completed in one or just a few
		sessions. Some resources that immediately come to mind:</p>

		<ul>
			<li><a href="https://www.dmsguild.com/">dmsguild.com</a>, search "one shot"</li>
			<li><a href="https://koboldpress.com/prepared-now-available/">Prepared!</a>, a book of a dozen one-shots by Kobold Press</li>
			<li><a href="https://www.kassoon.com/dnd/one-shots/">Kasoon's list of one shots</a>/</li>
		</ul>

		<p>If you would like to start with an adventure, I recommend the Lost Mines
		of Phandelver, Rime of the Frost Maiden, and Waterdeep: Dragonheist as being
		good places to start.</p>
		</article>

		<article>
		<h2>Can I ask my players to chip in?</h2>

		<p>There is no rule against this. However, the settled norm in the D&D
		culture is that expenses fall upon the DM and the DM alone, due to the
		"sunk costs" and reusable nature of these resources. I leave this
		up to you the DM, but I strongly advocate that players should not be expected to
		pay to play.</p>
		</article>
		{% endblock %}
	</section>

</body>

</html>
