{% extends 'static/templates/base.html' %}


<!doctype html>
<html lang="en">
<head>
	<title>
		{% block title %}
		PensiveDND :: Community Rules
		{% endblock %}
	</title>
</head>

<body>
{% block pagecontent %}
	<section>

		<h2>Community Rules</h2>
		<h3>Rules for Every Table</h3>

		<article>
		<p>1. All guild rules are community rules. Therefore, all guild rules are
		rules at every table.</p>
		</article>

		<article>
		<p>2. <b><u>Roleplaying an evil character is</u></b> not forbidden in the community, but
		some dungeon masters may choose to set more strict rules than this. It is,
		however, officially <b><u>strongly discouraged</u></b>. There are a few ways in which it
		can work. There are a lot more ways in which it can fail.</p>

		<p>Further, ask
		yourself these questions, "Why is my evil character following this group of
		good characters around?" and "Why is this group of good characters letting
		my evil character accompany them on their adventures?".</p>
		</article>

		<article>
		<p>3. D&D is a cooperative game.
			<ul>
				<li>Do not act against the party.</li>
				<li>Do not hog attention for yourself. Involve others.</li>
				<li>Be aware that most D&D party dynamics usually have one or more quiet
				people. Help the DM by inviting their participation in discussion, but
				respect their wish not to speak if they so indicate.</li>
				<li>Be aware of everyone's strengths and weaknesses.
				<li>Be a team.</li>
				<li>No drama will be tolerated</li>
			</ul>
		</p>
		</article>

		<article>
		<p>4. All DM rulings are law, even when they are wrong. (However, all DM's
		should be gracious in accepting correction, and try to do better in the
		the future).</p>
		</article>





	</section>
{% endblock %}

</body>
</html>
