{% extends 'static/templates/base.html' %}


<!doctype html>
<html lang="en">
<head>
	<title>
		{% block title %}
		PensiveDND :: Community Rules
		{% endblock %}
	</title>
</head>

<body>
{% block pagecontent %}
	<section>

		<p>These rules apply to all game tables hosted at this site.</p>

		<p>1. All guild rules are community rules. Therefore, all guild rules are
		rules at every table.</p>
		<p>2. Roleplaying an evil character is not forbidden in the community, but
		dungeon masters may choose to set more strict rules than this. It is,
		however, officially strongly discouraged. I recommend watching <a href="https://www.youtube.com/watch?v=e-0hgP1tNH8">this Youtube
		video, start to finish</a>, for why evil RP just doesn't work.
		<p>3. 





	</section>
{% endblock %}

</body>
</html>
