{% extends 'templates/base.html' %}


<!doctype html>
<html lang="en">
<head>
	<title>
		{% block title %}
		PensiveDND :: Guild Rules
		{% endblock %}
	</title>
</head>

<body>
{% block pagecontent %}
	<section>

		<article>
			<h1>Selected Guild Rules</h1>

			<h2>WELCOME TO PENSIVE</h2>

			<p>We are a DUAL-FACTION, EVER-EVOLVING, COMMUNITY guild attempting to provide
			a warm and friendly atmosphere free of the stressors of rank or standing.</p>

			<p>We have general guidelines to keep this a fun, peaceful, and enjoyable
			environment regardless of rank or standing.</p>

			<p>We encourage all memebers to play what they want, how they want, when
			they want -- with the same full guild support, friendship and camaraderie
			as any Raider or Leadership Member.</p>

			<p>Members are to be POSITIVE, HELPFUL, KIND, SUPPORTIVE, and FUN.</p>

			<p>The members of the leadership team are to be MATURE, RESPECTFUL, and
			RESPONSIVE.</p>
		</article>

		<article>
			<h3>Communicating with Leadership</h3>
			<ul>
				<li>We ask that members please use productive and appropriate means of
				communicating any issues or concerns to the leadership team. They are
				here to manage these guidelines, our community and members, but are also
				players enjoying their time as well. Guild chat is never an appropriate
				or productive way to voice opinions or concerns relating to such a
				crucial part of our structure.</li>
				<li>In order for Members AND the leadership team to consider their words
				and thoughts carefully, to be heard and understood in productive way as
				to avoid miscommunications or missed opportunities for growth, we require
				that guild chat, general public forums, and in Discord be kept free of
				criticism regarding our guidelines and overall guild management. We are
				always open to appropriate feedback; please direct message an officer or
				GM with your concerns.
			</ul>
		</article>

		<article>
			<h3>How we expect you to behave</h3>
			<ul>
				<li>Be kind and non-judgmental.</li>
				<li>We do not talk about other players in a negative way.</li>
				<li>No bullying, bragging, or elitism.</li>
				<li>An addon such as incognito is encouraged to name your toons (main
				guild name only). Leadership to indicate leadership rank for visibility.</li>
				<li>Keep chat clear of excessive spam. Keep extended 1:1 banter, chat,
				or personal conversations to /whisper and group/party/raid conversations
				relating to dps, mechanics, gear drops, and discussions to /group or
				/raid.</li>
				<li>You represent Pensive at all times. Trade chat, dungeons, raids...
				we expect you to follow the guidelines everywhere.</li>
				<li>Be friendly and interactive. Eggs that don't hatch are at risk for
				being purged in order to make space for engaging members.</li>
				<li>Events/leaders- see #guild-events.</li>
				<li>Streaming -all in the group must give permission! G chat must not be
				visible if streaming is posted publicly.</li>
				<li>No raging, putting others down, calling folks scrubs, dropping groups
				abruptly, no showing when you have confirmed, no showing for your own
				event, speaking rudely over the raid/dungeon/event leader etc.</li>
				<li>Be Humble - We do not allow logs, personal rankings, IO score posted
				in guild chat or public discord. Logs should only be posted under another
				chat room for the specific purpose of that activity. I.e. raid team
				assessing errors, not to highlight dps positive or negative. Have a
				question about your logs? Ask someone for help and then discuss in PM.</li>
				<li>No panhandling. Do not ask for people to gear you, buy you
				heirlooms/flying or items, loans of gold or real life money, carries,
				leveling, etc. Do not ask for handouts of any kind. Offer a trade! We
				encourage members to be generous, but realize WoW is also a game with a
				healthy economy and items have some cost investment involved.</li>
			</ul>
		</article>

		<article>
			<h3>Language and topics of conversation</h3>
			<ul>
				<li>As a mature guild, we ask that all [character names] fall in line
				with our general PG 13 guidelines of chat. Please, no names that are
				vulgar/gross, sexually explicit, political, misogynistic, demeaning,
				racist or in any way construed as discriminatory. We also do not allow
				names that obviously refer to Covid. While we would hate to lose any
				members over "just a name" we will have to ask anyone with a name that
				falls within those parameters to either change it or remove that
				particular toon from the guild in order to be consistent with our
				message of inclusivity and boundaries.</li>
				<li>There is no need to be vulgar/crude/gross/negative. Keep it roughly
				PG-13. This is not about cursing, but about the content and meaning of
				your words.</li>
				<li>If it's INNUENDO, it's OKAY.</li>
				<li>No religious or political conversations. I.e. Republican v Democrat,
				Flat Earth v Round Earth, gun control.</li>
				<li>Do not ever use the word "RAPE" or similar words (e.g. "rapey") in
				guild chat or in voice. There is absolutely no reason this word should
				ever be used unless you are in a private conversation talking
				appropriately about an experience.</li>
				<li>Suicide is not a joke...so don't joke about it. Same with being gay,
				trans, rape, foreign, disabled, inappropriate sexual actions, murdering,
				killing (even animals)...you get our drift.</li>
				<li>We are not able to provide mental health services, so if you are in
				distress please call 911, contact suicide hotline, mobile crisis for
				your area, or go to your local Emergency Dept.</li>
				<li>We are a LGBTQ+ affirming guild. Discriminatory statements are not
				tolerated.</li>
			</ul>
		</article>

		<article>
			<h3>Infractions and Three Strike Policy</h3>
			<ul>
				<li>Having an issue with a guildmate? Leave it out of discord and guild
				chat- DM Patronus or above with a screenshot.</li>
				<li>If you see something take place in game that violates the above rules,
				please take a screenshot and use all efforts to get the attention of a
				member of leadership via in-game PM, Discord PM, bnet tag, @Officers
				@Patronus message in general if needed. Even if we are on, we may be afk,
				in dungeon/raid, having a conversation with someone else, or we just plain
				miss it. Continue to PM in game if needed until the member of leadership
				responds if you see one in game.</li>
				<li>If a guideline is broken and there is evidence to back the report
				the member will be addressed with an official warning or a strike. Three
				strikes shall lead to demotion or being kicked and banned from the guild.</li>
				<li>Leadership has the ability to remove any eggs without going through
				the strike system as it is a probationary rank.</li>
				<li>If an infraction is severe or the member does not respond well to
				being corrected, Leadership has the ability to remove without using the
				strike policy.</li>
			</ul>
		</article>





	</section>
{% endblock %}

</body>
</html>
