<!DOCTYPE html>
<html>
<body>

<ul class="navbar">
  <li class="navbar"><a href="/">home</a></li>
	<li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">games</a>
    <div class="dropdown-content">
			<a href="/games/how_to_demo/">how to: demo</a>
      <a href="/games/arvon">https://pensivednd.servegame.com/games/arvon</a>
      <a href="/games/demo">https://pensivednd.servegame.com/games/demo</a>
    </div>
	<li class="navbar"><a href="/blog/">blog</a></li>
  <li class="navbar"><a href="/application/">application</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">rules</a>
    <div class="dropdown-content">
      <a href="/guild_rules/">guild</a>
      <a href="/community_rules/">all tables</a>
      <a href="/arvon_rules/">table: arvon</a>
    </div>
	<li class="navbar"><a href="/feedback/">feedback</a></li>
	<li class="navbar"><a href="/volunteer/">volunteer</a></li>
	<li class="navbar"><a href="/be_a_dm/">be a dm</a></li>
	<li class="navbar"><a href="/admin/">admin</a></li>
</ul>


</body>
</html>
