<ul class="navbar">
  <li class="navbar"><a href="/static/html/index.html">home</a></li>
	<li class="dropdown">
		<a href="javascript:void(0)" class="dropbtn">games</a>
		<div class="dropdown-content">
      <a href="#">arvon</a>
			<a href="#">demo</a>
		</div>
	</li>
	<li class="dropdown">
		<a href="javascript:void(0)" class="dropbtn">blogs</a>
		<div class="dropdown-content">
      <a href="#">arvon</a>
		</div>
	</li>
	<li class="dropdown">
		<a href="javascript:void(0)" class="dropbtn">rules</a>
		<div class="dropdown-content">
			<a href="#">community</a>
      <a href="#">arvon</a>
		</div>
	</li>
	<li class="dropdown">
		<a href="javascript:void(0)" class="dropbtn">resources</a>
		<div class="dropdown-content">
			<a href="#">dnd5e</a>
		</div>
	</li>
	<li class="navbar"><a href="be_a_dm.html">be a dm</a></li>
	<li class="navbar"><a href="#">apply to game</a></li>
</ul>
