{% extends 'static/templates/base.html' %}

<!doctype html>
<html lang="en">
<head>
	<title>
		{% block title %}
		PensiveDND :: Feedback
		{% endblock %}
	</title>
</head>

<body>
<h3>Feedback</h3>

{% block pagecontent %}
	<section>

		<p>PensiveDND is a safe place where your feedback is appreciated. You may
		choose to remain anonymous if you wish, or you may choose to identify
		yourself.</p>

		<p>Acceptable topics of feedback include the website, roleplay concerns,
		concerns regarding the balance of roleplay vs combat, inappropriate behavior,
		and anything, really. Feedback may be shared with Pensive leadership, but is
		otherwise kept confidential.</p>

		<p>~Arvon</p>

		<form method='POST'>
			{% csrf_token %}
			{% for field in form %}
			<div class="fieldWrapper">
				<p>
					{{ field.errors }}
						{{ field.label_tag }} <br> {{ field }}
						{% if field.help_text %}
							<p class="help">{{ field.help_text|safe }}</p>
						{% endif %}
				</p>
			</div>
			{% endfor %}
			<input type="submit" value="Submit">
		</form>

	</section>
{% endblock %}

</body>
</html>
